/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
List of CSS Design Class

- Layer Group 

- Text Group

- Button Group

- Background Group

- Image Group

- Forms Group

- Gridview Group

- Dropdown Group
- - - - - - - - - - - - - - - - - - - - - - - - - - - */



/* ------------------- Layer Group ------------------ */

/* ------------------- Text Group ------------------ */

.textField {
    margin-left : 'theme.spacing.unit';
    margin-right : 'theme.spacing.unit';
    width: 200px
}

/* ------------------- Button Group ------------------ */

/* ------------------- Background Group ------------------ */

.buttoncontinuedelete {
    width: 70px;
    top: 0px;
    left: 0px;
    
    color: rgba(0, 0, 0, 0.8);
    background: linear-gradient(20deg, rgb(255, 255, 255) 40%, rgb(255, 255, 255)) 30%;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.6);
    opacity: 0.9; 
}

.buttoncontinuedelete:hover {
    background: linear-gradient(20deg, rgb(151, 149, 255) 40%, rgb(164, 252, 255)) 30%;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.6);
    opacity: 1; 
}

.buttoncanceldelete {
    width: 70px;
    top: 0px;
    left: 5px;
    
    color: rgba(0, 0, 0, 0.8);
    background: linear-gradient(20deg, rgb(255, 255, 255) 40%, rgb(255, 255, 255)) 30%;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.60);
    opacity: 0.9; 
}

.buttoncanceldelete:hover {
    background: linear-gradient(20deg, rgb(255, 156, 156) 40%, rgb(255, 160, 197)) 30%;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.6);
    opacity: 1; 
}

/* ------------------- Image Group ------------------ */

/* ------------------- Forms Group ------------------ */

.card {

    max-width: 345px;
}

.media {
    object-fit: cover;
}


.paperdeleteplan {
    position: absolute;

    width: 300px;
    height:280px;

    margin: auto;

    top: 50%;
    bottom: 50%;
    left: 16%;
    right: 16%;

    padding: 40px;

    background: linear-gradient(20deg, rgba(255 , 255 , 255 , 0.85) 40%, rgba(255 , 255 , 255, 0.85)) 60%;
    box-shadow: 0px 0px 10px 2px rgba(0 , 0 , 0 , 0.30);
    border-radius: 10px;
}


/* ------------------- Gridview Group ------------------ */

/* ------------------- Dropdown Group ------------------ */