/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
List of CSS Design Class

- Layer Group 

- Text Group

- Button Group

- Background Group

- Image Group

- Forms Group

- Gridview Group

- Dropdown Group

- Containner Group
- - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ------------------- Layer Group ------------------ */

/* ------------------- Text Group ------------------ */

.TextThemewhiteColor{
    color: rgb(133, 148, 1)
  }

.TextThemewhiteColor:hover{
    color: rgb(70, 78, 0)
  }
  
.TextThemedarkColor{
    color: rgb(70, 78, 0)
  }

.TextThemedarkColor:hover{
    color: rgb(133, 148, 1)
  }

.TextThemeButton{
    color: rgb(70, 78, 0)
  }

.TextSmallSize{
    font-size: 12px;
}

.TextLargeSize{
    font-size: 20px;
}

/* ------------------- Button Group ------------------ */

.ButtonIconColor {
    color: rgb(129, 165, 0);
}

.ButtonIconColor:hover {
    color: rgb(94, 121, 0);
}

.ButtonLogoutIconColor {
    color: rgb(255, 0, 0);
}

.ButtonLogoutIconColor:hover {
    color: rgb(255, 255, 255);
}

.ButtonHowtoIconColor {
    color: rgb(7, 7, 7);
}

.ButtonHowtoIconColor:hover {
    color: rgb(29, 29, 29);
}


/* Group Login */

.DesignButton1 {
    /*animation: App-logo-spin infinite 20s linear;*/
    border-radius: 10px;
    width: 35%;
    height: 5.2vh;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: rgb(83, 83, 83);
    border: none;
    opacity: 0.7;
}

.DesignButton1:hover {
    opacity: 1;
}

/* Group Login */

.DesignButton2 {
    /*animation: App-logo-spin infinite 20s linear;*/
    border-radius: 10px;
    width: 35%;
    height: 5.2vh;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: rgb(255, 126, 126);
    border: none;
    opacity: 0.7;
}

.DesignButton2:hover {
    opacity: 1;
}

/* Group Login */

.DesignButton3 {
    /*animation: App-logo-spin infinite 20s linear;*/
    border-radius: 10px;
    width: 70px;
    height: 40px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: rgb(255, 96, 96);
    border: none;
    opacity: 0.7;
}

.DesignButton3:hover {
    opacity: 1;
    background-color: rgb(219, 43, 43);
}

/* Group Login */

.DesignButton4 {
    /*animation: App-logo-spin infinite 20s linear;*/
    border-radius: 10px;
    width: 70px;
    height: 40px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: rgb(128, 128, 128);
    border: none;
    opacity: 0.7;
}

.DesignButton4:hover {
    opacity: 1;
}

.DesignButtonSave {
    /*animation: App-logo-spin infinite 20s linear;*/
    border-radius: 10px;
    width: 35%;
    height: 5.2vh;
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: rgb(185, 185, 185);
    border: none;
}

.DesignButtonSave:hover {
    background-color: rgb(148, 148, 148);
}

.DesignButtonLogout {
    /*animation: App-logo-spin infinite 20s linear;*/
    border-radius: 10px;
    width: 35%;
    height: 5.2vh;
    color: white;
    margin: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: rgb(235, 144, 144);
    border: none;
}

.DesignButtonLogout:hover {
    background-color: rgb(207, 55, 55);
}

.DesignButtonColor {
    /*animation: App-logo-spin infinite 20s linear;*/
    border-radius: 10px;
    width: 100px;
    height: 40px;
    color: white;
    margin: 10px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: rgb(151, 151, 151);
    border: none;
}

.DesignButtonColor:hover {
    background-color: rgb(255, 95, 95);
}

.ButtonMaplayer {
    /*animation: App-logo-spin infinite 20s linear;*/
    border-radius: 10px;
    width: 100%;
    height: 100vw;
    color: white;

    padding: 1px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 16px;

    background-color: rgb(255, 255, 255, 0);

    border: none;
    opacity: 1;
}

.ButtonMaplayer:hover {
    opacity: 0.7;
}

/* Group Icon on Map */

.testcolor {
    background-color: rgba(255, 73, 49, 0.795);
}

/* ------------------- Background Group ------------------ */

/* ------------------- Image Group ------------------ */

.Maplayer {
    height: 100px;
    width: 100px;
}

/* ------------------- Forms Group ------------------ */

.SetFrame {
    width: 100%;
    left: auto;
    right: auto;
    padding-right: 15%;
    padding-left: 15%;
    box-shadow: 0 0 15px 0 rgba(51, 51, 51, 0);
    background: rgba(255, 0, 0, 0);
}

.FrameColorsetup {
    width: 300px;     /* เมื่อต้องปรับต้องตั้งค่าให้เห็น Frame เป็นปกติก่อน */
    height: 650px;
    top: 10px;
    left: 10px;
    right: 0px;
    bottom: 0px;
    /* Layer Group*/
    position: absolute;
    z-index: 0;
    cursor: pointer;
    background-color: rgba(55, 0, 255, 0)
}

.Framecolor {
    width: 600px;  
    height: 40vh;
    left: -100px;
    bottom: 500px;
    /* Layer Group*/
    position: absolute;
    z-index: -2;
    cursor: pointer;
    background: linear-gradient(15deg, rgb(147, 184, 15) 0.5%, rgb(255, 210, 143)) 100%;
  }

.Framelinearcolor1 {
    width: 300px;  
    height: 136px;
    left: 0px;
    top: 0px;
    /* Layer Group*/
    position: absolute;
    z-index: -2;
    cursor: pointer;
    background: linear-gradient(45deg, rgb(208, 255, 146) 40%, rgb(255, 235, 146)) 30%;
  }

.Framelinearcolor2 {
    width: 349px;  
    height: 38px;
    left: 0px;
    top: 251px;
    /* Layer Group*/
    position: absolute;
    z-index: -2;
    cursor: pointer;
    background: linear-gradient(45deg, rgb(208, 255, 146) 40%, rgb(255, 235, 146)) 30%;
  }

  .FramecolorTools {
    width: 349px;  
    height: 136px;
    left: 0px;
    top: 0px;
    /* Layer Group*/
    position: absolute;
    z-index: -2;
    cursor: pointer;
    background: linear-gradient(45deg, rgb(208, 255, 146) 40%, rgb(255, 235, 146)) 30%;
  }

.FrameButtoncolor {
    width: 71px;  
    height: 136px;
    right: 0px;
    top: 0px;
    /* Layer Group*/
    position: absolute;
    z-index: -1;
    cursor: pointer;
    background: rgba(58, 58, 58, 0.979);
  }

/* ------------------- Gridview Group ------------------ */

/* ------------------- Dropdown Group ------------------ */

/* ------------------- Containner Group Group ------------------ */
.Map{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transition: 350ms cubic-bezier(0.23, 1, 0.32, 1);
    justify-Content: 'flex-end';
}