/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
List of CSS Design Class

- Layer Group 

- Text Group

- Button Group

- Background Group

- Image Group

- Forms Group

- Gridview Group

- Dropdown Group
- - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ------------------- Layer Group ------------------ */

/* ------------------- Text Group ------------------ */

/* ------------------- Button Group ------------------ */

/* ------------------- Background Group ------------------ */

/* ------------------- Image Group ------------------ */

/* ------------------- Forms Group ------------------ */

.GeolocationBtn {
    position: absolute;

    top: 0px;
    left: 0px;

    width: 125px;

    background: linear-gradient(20deg, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1)) 30%;
    opacity: 0.9;
}

.GeolocationBtn:hover {
    background: linear-gradient(20deg, rgb(230, 230, 230) 40%, rgb(230, 230, 230)) 30%;
    opacity: 1; 
}
/* ------------------- Gridview Group ------------------ */

/* ------------------- Dropdown Group ------------------ */