/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
List of CSS Design Class

- Layer Group 

- Text Group

- Button Group

- Background Group

- Image Group

- Forms Group

- Gridview Group

- Dropdown Group
- - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ------------------- Layer Group ------------------ */

/* ------------------- Text Group ------------------ */

/* ------------------- Button Group ------------------ */

/* ------------------- Background Group ------------------ */

/* ------------------- Image Group ------------------ */

/* ------------------- Forms Group ------------------ */

.LOL {
    position: fixed;
    top: -195px;
    left: 15px;
    color: rgba(0, 0, 0, 0.8);
    background: linear-gradient(20deg, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.9)) 30%;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.60);
    opacity: 0.9; 
}

.LOL:hover {
    background: linear-gradient(20deg, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 1)) 30%;
    opacity: 1; 
}
/* ------------------- Gridview Group ------------------ */

/* ------------------- Dropdown Group ------------------ */