/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
List of CSS Design Class

- Layer Group 

- Text Group

- Button Group

- Background Group

- Image Group

- Forms Group

- Gridview Group

- Dropdown Group
- - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ------------------- Layer Group ------------------ */

/* ------------------- Text Group ------------------ */

/* ------------------- Button Group ------------------ */

/* ------------------- Background Group ------------------ */

/* ------------------- Image Group ------------------ */

.image {
    position: absolute;
    margin: 80px;

    width: 90px;
    height:90px;

}

.imageButton {
    position: absolute;

    height: 90px;
    width: 90px;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imageSrc {
    position: absolute;
    left: 15px;
    right: auto;
    top: 15px;
    bottom: auto;

    width: 90px;
    height: 90px;

    background-size: 90px;
    background-position: center 40%;
}

.imageBackdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: 'theme.palette.common.black';
    opacity: 0.4;

}

.imageTitle {
    position: relative;
    padding: '${theme.spacing.unit * 2}px ${theme.spacing.unit * 4}px ${theme.spacing.unit + 6}px';
}

.imageMarked {
    height: 3;
    width: 18;
    background-color: 'theme.palette.common.white';
    position: absolute;
    bottom: -2px;
    left: calc(50% - 9px);

}

/* ------------------- Forms Group ------------------ */

.rooticon {
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    width: 50%;
    min-height: 200px;
}

/* ------------------- Gridview Group ------------------ */

/* ------------------- Dropdown Group ------------------ */