/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
List of CSS Design Class

- Layer Group 

- Text Group

- Button Group

- Background Group

- Image Group

- Forms Group

- Gridview Group

- Dropdown Group
- - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ------------------- Layer Group ------------------ */

/* ------------------- Text Group ------------------ */

/* ------------------- Button Group ------------------ */

/* ------------------- Background Group ------------------ */

/* ------------------- Image Group ------------------ */

/* ------------------- Forms Group ------------------ */

.progress {
    margin: 'theme.spacing.unit * 2';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 45%;
    left: 45%;
    z-index: 10;
}

/* ------------------- Gridview Group ------------------ */

/* ------------------- Dropdown Group ------------------ */