/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
List of CSS Design Class

- Layer Group 

- Text Group

- Button Group

- Background Group

- Image Group

- Forms Group

- Gridview Group

- Dropdown Group
- - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ------------------- Layer Group ------------------ */

/* ------------------- Text Group ------------------ */

/* ------------------- Button Group ------------------ */

/* ------------------- Background Group ------------------ */

/* ------------------- Image Group ------------------ */

/* ------------------- Forms Group ------------------ */

.Snackbar {
    width: 95%;
    height: 120px;

    left: 2.5%;
    bottom: 120px;

    opacity: 0.8;
    position: relative;
}

/* ------------------- Gridview Group ------------------ */

/* ------------------- Dropdown Group ------------------ */