#pac-input {
  background-color: rgba(0, 0, 0, 0.822);

  text-overflow: ellipsis;
  color: rgba(255, 255, 255, 0.842);

  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;

  margin-left: 12px;
  margin-top: 12px;
  
  padding: 0 20px 0 15px;

  width: 20vw;
  height: 40px;

  border: 1px solid transparent;
  border-radius: 3px;

  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(26, 26, 26, 0.5);

  outline: none;
  z-index: 1;
}
