#pac-input {
  background-color: rgba(255, 255, 255, 0.9);
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.9);
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 0.2vw;
  margin-top: 0.2vw;
  padding: 0 20px 0 15px;

  width: 190px;
  height: 40px;

  top: 20px;
  right: 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(26, 26, 26, 0.5);
  outline: none;
}

.Setsearchcancel {
  position: relative;

  left: -50px;
  top: 5px;

  box-shadow: 0 0 15px 0 rgba(51, 51, 51, 0);
  background: rgba(255, 0, 0, 0);
}